$font-primary: 'Montserrat', sans-serif;
$logo-font: 'Ubuntu', sans-serif;
$h1-font: 'Montserrat-Black', sans-serif;
$h1-size: 3.5rem;
$title-color: #fff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: $font-primary;
}

.container-fluid {
    padding: 3% 15%;
}

//  TITLE Section

#title {
    background: #ff4c68;
    position: relative;
    color: $title-color;

    // NAVBAR Section
    .navbar {
        padding: 0 0 4.5rem;

        .navbar-brand {
            font-family: $logo-font;
            font-size: 2.5rem;
            font-weight: bold;
        }
    
        .nav-item {
            padding: 0 18px;
    
            .nav-link {
                font-size: 1.2rem;
                font-family: $font-primary;
                font-weight: 300;
            }
    
        }

    }
    
    // TITLE Section
    h1 {
        font-family: $h1-font;
        font-weight: 900;
        font-size: $h1-size;
        line-height: 1.5;
    }
    
    // TITLE button
    button {
        margin: 5% 3% 5% 0;
    }

    // TITLE image 
    
    img {
        max-width: 250px;
        width: 100%;
        transform: rotate(25deg);
    }

}