$font-primary: 'Montserrat', sans-serif;
$logo-font: 'Ubuntu', sans-serif;
$header-font: 'Montserrat-Black', sans-serif;

$h1-size: 3.5rem;
$h3-size: 1.5rem;
$padding-size: 7% 15%;

$color-primary: #ff4c68;
$color-secondary: #ef8172;
$text-color: #fff;
$p-color: #8f8f8f;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: $font-primary;
}

// UNIVERSAL selector

.container-fluid {
    padding: 3% 15% 4%;
}

h1 {
    font-family: $header-font;
    font-weight: 900;
    font-size: $h1-size;
    line-height: 1.5;
}

h2 {
    font-family: $header-font;
    font-weight: 900;
}

h3 {
    font-size: $h3-size;
    font-family: $header-font;
    font-weight: 900;
 }

 p {
    color: $p-color;
}

//  TITLE Section

#title {
    background: $color-primary;
    position: relative;
    color: $text-color;

    // NAVBAR Section
    .navbar {
        padding: 0 0 4.5rem;

        .navbar-brand {
            font-family: $logo-font;
            font-size: 2.5rem;
            font-weight: bold;
        }
    
        .nav-item {
            padding: 0 18px;
    
            .nav-link {
                font-size: 1.2rem;
                font-family: $font-primary;
                font-weight: 300;
            }
    
        }

    }
    
    // TITLE button
    button {
        margin: 5% 3% 5% 0;
    }

    // TITLE image 
    
    img {
        max-width: 250px;
        width: 100%;
        position: absolute;
        transform: rotate(25deg);
        right: 30%;
    }

}

// FEATURES Section

#features {
    position: relative;
    padding: $padding-size;
    background-color: #fff;
    position: relative;

    .features-content {
        text-align: center;

        span {
            font-size: 3em;
            color: $color-secondary;
        }

        span:hover {
            color: $color-primary;
        }

    }
    
}

// TESTIMONIAL Section

#testimonials {
    padding: $padding-size;
    text-align: center;
    background-color: $color-secondary;
    color: $text-color;

    .testimonial-image {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }
}

//PRESS Section

#press {
    background-color: $color-secondary;
    text-align: center;
    padding-bottom: 3%;

    .press-logo {
        width: 15%;
        margin: 20px 20px 50px;
    }
}

//PRICING Section 

#pricing {
    text-align: center;
    padding: 7% 15%;

    h3 {
        font-size: $h3-size;
        font-family: $header-font;
        font-weight: 900;
    }

    h2 {
        font-size: 2.5rem;
    }
        
}

@media (max-width: 1028px) {
    #title {
        text-align: center;

        img {
            position: static;
            transform: rotate(0);
        }
    }
}